@import "../../../../assets/styles/mixins/media-queries.mixin";

.Card {
  &-container {
    background-color: #fafafa;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    border-radius: 6px;
    max-width: 100%;
    width: 100%;

    @include media-sm {
      height: 100%;
    }
  }

  &-content {
  }
}
