.Form {
  &-input {
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    height: 3rem;
    padding: 0 10px;
    width: 100%;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 2px #5E9ED6;
    }
  }

  &-filtersContainer {
    margin: 0.625rem 0;
    padding: 0 0.625rem;

    &.isRow {
      .Form-checkboxContainer {
        display: inline-block;
        width: 25%;
      }
    }
  }
}