.Form {
  &-input {
    display: block;
    width: 100%;
    height: 3rem;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &-filtersContainer {
    margin: 0.625rem 0;
    padding: 0 0.625rem;

    &.isRow {
      .Form-checkboxContainer {
        display: inline-block;
        width: 25%;
      }
    }
  }
}