<div class="Player-viewModeContainer" *ngIf="team">
    <div class="Player-formAndGridOptionsContainer">
        <app-player-form
                [formConfig]="formConfig"
                [filterConfig]="formFilterConfig"
                (onSort)="onSort()"></app-player-form>
        <div class="Player-toggleOptions">
            <button class="Player-gridViewAction"
                    [disabled]="gridView"
                    [class.Player--inActiveToggleOption]="!gridView"
                    (click)="toggleView()">Grid View</button>
            <button class="Player-cardViewAction"
                    [disabled]="!gridView"
                    [class.Player--inActiveToggleOption]="gridView"
                    (click)="toggleView()">Card View</button>
        </div>
    </div>
    <div class="Player-gridContainer" *ngIf="gridView; else cardsView">
        <app-table [config]="tableConfig"></app-table>
    </div>
    <ng-template #cardsView>
        <div class="Player-contentContainer">
            <div class="Player-content" *ngFor="let player of list">
                <app-card>
                    <button class="Button-button" (click)="getPlayerInfo(player)">
                        <div class="Player-card">
                            <div class="Player-informationContainer">
                                <div class="Player-imageContainer">
                                    <img class="Player-image"[src]="player.image || playerImagePlaceholder" alt="">
                                </div>
                                <div class="Player-numberNameContainer">
                                    <div class="Player-numberContainer">
                                        <h1 class="Player-number">#{{player.shirtNumber}}</h1>
                                    </div>
                                    <div class="Player-nameContainer">
                                        <h1 class="Player-name">{{player.name}}</h1>
                                    </div>
                                </div>
                                <div class="Player-clubCrestContainer">
                                    <img class="Player-clubCrest" [src]="team.clubCrestUrl" alt="">
                                    <span class="Player-clubName">{{team.name}}</span>
                                </div>
                                <div class="Player-infoGrid">
                                    <app-info-grid [config]="{
                                header: infoGridHeader,
                                body: [player.nationality, player.position, player.dateOfBirth | date, team.squadMemberRole[player.role]]
                            }"></app-info-grid>
                                </div>
                            </div>
                        </div>
                    </button>
                </app-card>

            </div>
        </div>
    </ng-template>
</div>
