<div class="Player-viewModeContainer" *ngIf="team">
    <div class="Player-formAndGridOptionsContainer">
        <app-player-form
                [formConfig]="formConfig"
                [filterConfig]="formFilterConfig"
                (onSort)="onSort()"></app-player-form>
        <div class="Player-toggleOptions">
            <button class="Player-gridViewAction"
                    [disabled]="gridView"
                    [class.Player--inActiveToggleOption]="!gridView"
                    (click)="toggleView()">Grid View</button>
            <button class="Player-cardViewAction"
                    [disabled]="!gridView"
                    [class.Player--inActiveToggleOption]="gridView"
                    (click)="toggleView()">Card View</button>
        </div>
    </div>
    <div class="Player-gridContainer" *ngIf="gridView; else cardsView">
        <app-table [config]="tableConfig"></app-table>
    </div>
    <ng-template #cardsView>
        <div class="Player-contentContainer">
            <div class="Player-content" *ngFor="let player of list">
                <app-card>
                    <app-player-card
                            [config]="setPlayerCardConfig(player)"></app-player-card>
                </app-card>

            </div>
        </div>
    </ng-template>
</div>
