@import './../../../../../assets/styles/mixins/media-queries.mixin';

.Player {
  &-viewModeContainer {
    padding: 1rem;

    @include media-ld {
      padding: 1.5rem;
      width: 90%;
      margin: 0 auto;
    }
  }

  &-contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;
  }

  &-content {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto 1.25rem auto;
    width: 100%;

    @include media-xs {
      max-width: 480px;
      width: 470px;
    }

    @include media-sm {
      display: inline-block;
      height: 45rem;
      margin: 0 0 2.5rem;
      max-width: 40%;
      width: 40%;
    }

    @include media-dd {
      max-width: 30%;
      width: 30%;
    }
  }

  &-toggleOptions {
    margin-bottom: 20px;
  }

  &-gridViewAction,
  &-cardViewAction {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }

  &-gridViewAction {
    margin-right: 10px;
  }

  &--inActiveToggleOption {
    color: #007bff;
  }
}

